body{
background-color: #505050;
}

li{
    padding-bottom: 5px;
    color: white;

}

p{
    color: black;
    text-align: center;
    font-size: 30;

}
h2{
    margin-top: 10px;
}
h1, h2 {
  color: red;
  background: black;
}
input{
    text-align: center;
}

.container {

    justify-content: center;
    align-items: center;
  }
.questions{
  margin: 0 auto;
}
  button {

    background-color: black;
    border: 1px black;
    color: red;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 250px;
    margin-top: 5px;
  }

  button:hover{
      border: white;
  }



#timer{
    background-color: black;
    color: red;
    font-size: 40px;
    text-align: center;
}
